@charset "UTF-8";
/* CSS Document */

html {background-color:#D0D0D0;}

form .hidden {position:absolute; top:-9999px;}

/*body {background-color:#FFFFFF;}

header {background-color:#00DDE4}

nav {background-color:#4CFF00}

main {background-color:#FFE000}

footer {background-color:#9679F2}*/